.acordeon {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: .25s;
}

.acordeon:hover {
    background-color: #55569e;
    border-color: #55569e;
}

.open {
    background-color: #55569e;
}

.acordeon-title {
    font-size: 1em;
    margin: .2rem;
}

.open .acordeon-title::after {
    transform: rotate(0deg);
    transition: .25s;
}

.trigger {
    cursor: pointer;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    padding: 1rem 2rem .1rem;
    border: none;
}

.acordeon-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.acordeon-title::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url("../img/svg/arrow.svg") center/contain no-repeat;
    transform: rotate(180deg);
    transition: .25s;
}

.content {
    overflow: hidden;
    max-height: 0;
    padding: .5rem;
    transition: max-height .25s;
}

.open .content {
    display: block;
    overflow: scroll;
    max-height: 500px;
    padding: 1rem;
    transition: max-height .25s;
}

.work-skills {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: .675rem;
    list-style: none;
    max-height: 220px;
    padding-left: .5rem;
}

.work-skills li {
    width: 30%;
}

.work-skills img {
    width: 40%;
    min-width: 25px;
    max-width: 4rem;
    max-height: 4rem;
}

.personal-skills {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    list-style: none;
    font-weight: 700;
}

:where(.personal-skills, .languages) li::before {
    content: "";
    display: inline-block;
    width: .7rem;
    height: .7rem;
    margin-right: .5rem;
    background: url('../img/svg/check.svg') center/contain no-repeat;
}

.languages {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-weight: 700;
    padding-left: 0;
}

.education {
    list-style: none;
    padding-left: 0;
}

.education li {
    margin-bottom: 1rem;
}

.college, .institution {
    font-weight: 700;
}

.uniasselvi::before {
    content: "";
    display: inline-block;
    background: url("../img/imagens/uniasselvi.ico") center/contain no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    vertical-align: middle;
}

:where(.course span, .portfolio h3):not(.institution)::before {
    content: "";
    display: inline-block;
    background: url('../img/svg/check.svg') center/contain no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    vertical-align: middle;
}

.course [class*="javascript"]::before {
    background-image: url("../img/svg/javascript.svg");
}

.course [class*="python"]::before {
    background-image: url("../img/svg/python.svg");
}

.course [class*="mysql"]::before {
    background-image: url("../img/svg/mysql.svg");
}

.course [class*="css"]::before {
    background-image: url("../img/svg/css.svg");
}

.portfolio {
    list-style: none;
    padding-left: .5rem;
}

.portifolio h3 {
    font-size: 1.2rem;
}

.portfolio a {
    font-weight: 300;
}

.portfolio .github::before {
    background-image: url("../img/svg/github.svg");
}

.certificate a {
    font-weight: 700;
    font-style: italic;
}

.certificate::before {
    content:"> ";
}

footer {
    text-align: center;
    font-weight: 300;
    padding: .5rem;
}

footer a {
    font-weight: 700;
}

footer img {
    min-width: 4rem;
    width: 10%;
}

@media screen and (min-width: 768px) {
    .open .content {
        overflow: visible;
    }

    .acordeon:first-of-type .content {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: 20%;
        padding: .5rem 1rem;
    }

    .work-skills {
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: .5rem;
        max-height: 250px;
    }

    .work-skills li {
        width: fit-content;
    }
    
    .work-skills img {
        width: 70%;
        max-height: 5rem;  
    }

    .work-skills img:hover {
        width: 75%;
    }

    .skills-container {
        max-width: 40%;
    }
}
